*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
 .vscode/
.DS_Store
Thumbs.db
__pycache__/
*.pyc
# GCP Credentials
**/gcp-credentials.json
**/*credentials*.json
*.json
# Or be more specific if you know the exact path/name
credentials.json
gcp-key.json